@charset 'utf-8';

/* 绝对定位模块 */
.location p {
    width: 70px;
    height: 70px;
    background-color: #ffefd6;
    text-align: center;
    line-height: 110px;
    margin-top: 5px;
    position: relative;
}

.location p img {
    position: absolute;
    left: 23px;
    top: 12px;
}

.location {
    position: fixed;
    right: 65px;
    top: 500px;
}

/* 绝对定位模块 */
.personal_content {
    width: 1180px;
    min-height: 100px;
    margin: 20px auto 255px;
}

.personal_left {
    width: 220px;
    height: 451px;
    background: #ffffff;
    box-shadow: 0 -1px 3px 3px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    float: left;
    margin-top: 30px;
    overflow: hidden;
}

.personal_left dl,
.personal_left img {
    float: left;
}

.personal_class {
    margin-top: 25px;
    margin-left: 16px;
    height: 40px;
    overflow: hidden;
}

.personal_class dd:hover {
    color: #80c4ae;
    cursor: pointer;
}
.personal_class dd:hover i {
    width: 5px;
    height: 5px;
}

.personal_left dd i {
    background: #78b8a3;
    display: inline-block;
    border-radius: 100%;
    margin-left: 65px;
    margin-bottom: 3px;
}

.personal_class dl {
    margin-left: 15px;
    margin-top: 6px;
    position: relative;
}

.personal_class dt {
    margin-bottom: 15px;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.personal_class dd {
    margin-bottom: 10px;
    font-size: 12px;
    color: #666666;
}

.personal_class span {
    border: 6px solid;
    width: 0px;
    height: 0px;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    left: 110px;
    top: 5px;
}

/*右边内容表单 */
.personal_right {
    min-width: 950px;
    height: 451px;
    float: right;
    margin-top: 30px;
    position: relative;
}

/* 隐藏 */

.personal_right form {
    position: relative;
}

.personal_user span {
    display: inline-block;
    width: 60px;
    height: 20px;
    font-size: 14px;
    color: #333333;
    margin: 0 10px;
}

.personal_user {
    margin-top: 30px;
    margin-left: 25px;
}

.personal_user em {
    font-style: normal;
}

.archives {
    width: 931px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 25px;
    margin-top: 30px;
}

.archives span {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}

.archives .archives1:hover,
.archives .archives2:hover {
    background: #74c6b3;
    border-radius: 4px;
}

.archives .archives1:hover a,
.archives .archives2:hover a {
    color: #fff;
}

.head_photo {
    margin-left: 45px;
}

.head_photo1 {
    margin-left: 68px;
    float: left;
    margin-top: 30px;
}

.head_photo1 label {
    position: relative;
}
.head_photo1 .mask {
    width: 56px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;

    position: absolute;
    left: 2px;
    top: -37px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    display: none;
}
.head_photo1:hover .mask {
    display: inline-block;
}
.head_photo0 {
    float: left;
    margin-top: 51px;
    font-size: 14px;
}

.personal_from1 li {
    float: left;
}

.personal_from1 {
    margin-left: 45px;
    display: inline-block;
}

.personal_from2 {
    margin-right: 40px;
    font-size: 14px;
    color: #333333;
    margin-top: 30px;
}

.personal_from3 {
    margin-top: 20px;
}

.personal_model {
    margin-left: 120px;
}

.personal_sex ul {
    float: left;
}

.personal_sex {
    margin-top: 22px;
}

.personal_sex_li {
    font-size: 14px;
    color: #333333;
    width: 56px;
    height: 20px;
    margin-left: 45px;
    display: inline-block;
}

.personal_sex span {
    font-size: 14px;
    color: #999999;
}

.personal_sex input[type="radio"] {
    width: 30px;
    display: inline-block;
}

.personal_sex div {
    float: left;
}

.personal_input {
    margin-right: 50px;
    margin-left: 32px;
}

.personal_bsday {
    position: absolute;
    right: 19px;
    top: 75px;
}

.personal_tel ul li {
    float: left;
}

.personal_tel .tel_color,
.personal_tel .tel_color a {
    font-size: 12px;
    color: #80c4ae;
}

.personal_tel .tel_color {
    margin-left: 20px;
}

.personal_tel .tel {
    margin-left: 45px;
    margin-right: 40px;
}

.personal_tel {
    margin-top: 30px;
    position: relative;
}

.personal_tel select {
    width: 300px;
    height: 40px;
    border: 1px solid #80c4ae;
    border-radius: 4px;
    outline: none;
}

.personal_tel_lv {
    margin-left: 35px;
    margin-top: -10px;
}

.personal_tel .city {
    margin-top: 8px;
    margin-right: 40px;
}

.clty_li {
    position: absolute;
    top: 0px;
    right: 18px;
}

.personal_lv {
    margin-left: 39px;
    margin-top: 33px;
}

.personal_lv li {
    float: left;
}

.personal_lv_lis {
    margin-top: 0px;
    margin-left: 5px;
}

.personal_lv_stady {
    font-size: 12px;
    color: #80c4ae;
    margin-left: 12px;
}

.personal_lv input[type="submit"] {
    background: #74c6b3;
    border-radius: 4px;
    width: 54px;
    height: 30px;
    border: none;
    float: right;
    color: #fff;
    margin-right: 20px;
}

/* 安全设置隐藏模块 */
.personal_pwd li:first-child {
    margin-right: 94px;
    margin-left: 45px;
    float: left;
    font-size: 14px;
    color: #333333;
}

.personal_pwd li:nth-child(2) {
    float: left;
    font-size: 14px;
    color: #333333;
}

.personal_pwd li:last-child a {
    float: right;
    font-size: 14px;
    color: #74c6b3;
    text-decoration: underline #74c6b3;
}

.personal_pwd {
    margin-top: 20px;
}

.other {
    margin-top: 29px;
}

.personal_right .rest {
    font-size: 12px;
    color: #666666;
    position: absolute;
    bottom: 0px;
    left: 45px;
}

/* 安全设置模块隐藏 */
.personal_safe_none {
    display: none;
}
.delta {
    cursor: pointer;
}
